<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Businnes Continuity Game</title>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">-->
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="icon" href="{% static 'favico.png' %}", sizes="32x32">
</head>


<body class="has-background-info-light has-navbar-fixed-top p-2">
{% load static %}


{% include "autoparts/autoparts_navbar.html" %}

                <div class="card m-5 has-background-grey-lighter" style="height: 86vh; min-height: 700px;">
                  <div class="card-content" style="height: 100%;">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="{% static 'card_icon.png' %}" alt="auto parts icon">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4 has-text-grey-dark">Auto-parts manufacturer</p>
                      </div>
                    </div>

                    <div class="content" style="height: 93%;">
                        <div class="p-6">
                          <p class="is-size-4">Loading ...</p>
                          <p class="is-size-4">... simulation may thake some seconds</p>
                        </div>
                        <div class="p-6">
                          <progress class="progress is-large is-info" max="100"></progress>
                        </div>

                    </div>
                      

                  </div>
                </div>
  



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


<script>
    window.onload = function() {
        window.location.href = "{% url 'autoparts-simulation'%}";
    }
</script>


</body>


</html>