

{% extends 'electricity/electricity_base.html' %}

{% block title %}

Description

{% endblock %}

{% block content %}

{% load static %}

Company: Eldy, an electricity distributor <br><br>
Location: Europe, in a region highly exposed to seismic risk <br><br>
Revenues: €180 Million a year (€0.5M per day)<br><br>
Business: Eldy sells its electricity to different electricity providers that then serve different categories of users.<br><br>





<table class="table is-bordered">
  <thead>
    <tr>
      <th>Business function</th>
      <th>Main activities performed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Electricity operations</td>
      <td>Electricity distribution;<br>
      Network monitoring and control;<br>
      Emergency response to accidents
      </td>
    </tr>
    <tr>
      <td>Electricity maintenance</td>
      <td>Maintenance</td>
    </tr>
    <tr>
      <td>Metering department</td>
      <td>Metering</td>
    </tr>
    <tr>
      <td>Administration</td>
      <td>Billing<br>Commercial activities</td>
    </tr>
  </tbody>
</table>

<h1 class="subtitle is-4 has-text-dark">1.1. ELECTRICITY MARKET DESCRIPTION</h1>

<img src="{% static 'electricity_description.png' %}" width="1000">
<br>
<br>
<div class="columns">
    <div class="column">
        <div class="notification has-background-info-light">
          <h1 class="subtitle is-4 has-text-dark">1</h1> Electricity generation: it is related to the electricity production starting from wind sources, solar panels, hydroelectric plants and fuels. 
        </div>

        <div class="notification has-background-info-light">
          <h1 class="subtitle is-4 has-text-dark">2</h1>Electricity transmission: after having passed through the step-up transformer, electricity is transported by high voltage transmission lines for high distances, to be then transformed into medium and low voltage to enter the distribution network of the next phase.
        </div>
    </div>
    <div class="column">
        <div class="notification has-background-grey-lighter">
          <h1 class="subtitle is-4 has-text-dark">3</h1>Electricity distribution: it distributes electricity to the final users. The high voltage is transformed in medium voltage at the transmission substation and then in low voltage at the distribution substation. The company Eldy deals with this phase of electricity market. 
        </div>

        <div class="notification has-background-info-light">
          <h1 class="subtitle is-4 has-text-dark">4</h1>Electricity sale: it is related to the effective sale of electricity to final users, dealing with all commercial aspects. 
        </div>
    </div>
</div>

<br>
The categories of users served by the electricity market are:
<ul>
    <li>Residential households;</li>
    <li>Commercial companies;</li>
    <li>Industrial sites;</li>
    <li>Transport infrastructure (rail, airports, road and highways, urban public transport);</li>
    <li>Essential services (e.g., hospitals, oil and gas refineries, water-treatment plants, telecommunication networks, service stations, pharmacies).</li>
</ul>

<br>
<br>

<h1 class="subtitle is-4 has-text-dark">1.2. MAIN BUSINESS FUNCTIONS</h1>

<table class="table is-bordered">
  <tbody>
    <tr>
      <th><figure class="image is-48x48"><img src="{% static 'pillon.png' %}" alt="Placeholder image"></figure></th>
      <th>Electricity operations</th>
      <td>Electricity operations manage and control the distribution of electricity. Eldy uses Distributed Control Systems (DCS) to remotely monitor the flow of electricity and control equipment such as switches, circuit breakers, transformers and generators. When some anomalies are detected, an emergency response team immediately reaches the site and intervenes to repair failures and solve potential problems or emergencies, ensuring an immediate and prompt response.</td>
    </tr>
    <tr>
      <th><figure class="image is-48x48"><img src="{% static 'tools.png' %}" alt="Placeholder image"></figure></th>
      <th>Electricity maintenance</th>
      <td>It performs ordinary maintenance activities on:
          <ul>
            <li>Electrical infrastructures: over time, equipment such as transformers, switches, and cables can become worn or damaged. Without proper maintenance, this damage can go undetected and lead to equipment failure. If equipment is not properly maintained, it may not operate at peak efficiency. </li>
            <li>Meters: meters that are not maintained properly can give inaccurate readings due to various reasons such as meter drift, mechanical wear and tear, or damage to the meter. This can lead to billing errors and affect the revenue streams of Eldy. Lack of maintenance can also result in premature wear and tear on meters, leading to reduced lifespan and higher replacement costs. </li>
          </ul>
          To perform maintenance, operators need vehicles, tools, equipment and the appropriate materials. 
      </td>
    </tr>
    <tr>
      <th><figure class="image is-48x48"><img src="{% static 'metering.png' %}" alt="Placeholder image"></figure></th>
      <th>Metering department</th>
      <td>It deals with the measurement of the electrical flow distributed through electrical lines with the aim of tracking final users’ consumption and proceed with the billing. A disruption of metering process prevents Eldy from issuing invoices to its customers. Currently, the metering is completely digital and relies on an external telecommunication system. </td>
    </tr>
    <tr>
      <th><figure class="image is-48x48"><img src="{% static 'administration_dpt.png' %}" alt="Placeholder image"></figure></th>
      <th>Administration</th>
      <td>It provides logistical assistance to the entire organization and to human resources, and it takes care of the finance and rules/regulations related to legal aspects. Another task performed by administration is managing customers’ and suppliers’ contracts. In addition, this function is responsible for the billing to customers. </td>
    </tr>
  </tbody>
</table>

<br>
<br>


<h1 class="subtitle is-4 has-text-dark">1.3. INFRASTRUCTURES AND ASSETS</h1>

<table class="table is-bordered" style="max-width: 500px">
  <tbody>
    <tr>
      <td>Electrical infrastructure</td>
      <th>€ 204M</th>
    </tr>
    <tr>
      <td>Office building</td>
      <th>€ 4M</th>
    </tr>
    <tr>
      <td>Operations center</td>
      <th>€ 6M</th>
    </tr>
    <tr>
      <td>Warehouse</td>
      <th>€ 5M</th>
    </tr>
    <tr>
      <td>Tools and equipment</td>
      <th>€ 1M</th>
    </tr>
    <tr>
      <td>Materials and spare parts</td>
      <th>€ 10M</th>
    </tr>
    <tr>
      <td>Vehicles</td>
      <th>€ 1M</th>
    </tr>
    <tr>
      <td>IT infrastructure</td>
      <th>€ 3M</th>
    </tr>
  </tbody>
</table>

<img src="{% static 'electricity_description_2.png' %}" width="700">



{% endblock %}


{% block menu %}
	{% include "electricity/electricity_menu.html" with page=1 %}
{% endblock %}

